# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
.venv/
.env

# Cloudflare / Node
.wrangler/
node_modules/
package-lock.json

# Machine Learning / Data (Forces it to re-train on reboot)
# backend/models/model.pkl

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
